<form class='form' method='POST' action='{% url "cart:update" %}' > {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
      <span class='submit-span'>
    {% if product in cart.products.all %}
        <div class='btn-group'> <a class='btn btn-link' href='/cart/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
    {% else %}
        <button type='submit'  class='btn btn-success'>Add to cart</button>
    {% endif %}
    </span>
</form>