{% extends 'base.html' %}



	{% block content %}
	{% if request.user.is_authenticated == False %}
	  <h2>Sign up for a free account</h2>
	  <p class="lead">Select below the type of account you want to create</p>
	  <a href='{% url "farmer_signup" %}' class="btn btn-primary" role="button">I'm a farmer</a>
	  <a href='{% url "customer_signup" %}' class="btn btn-secondary" role="button">I'm a customer</a>
	{% endif %}
	{% endblock %}


