{% extends "base.html" %}
{% load static %}
<script src=" {% static "Chart.min.js"  %}"></script>

{% block content %}

<div class='row'>
    <div class='col-3'>
       <p>Select the item to see the future forecst</p>
       <p>
            <select id="list">

                    <option value=0>Select Me</option>
                    {% for i in list %}
        
                     <option value="{{ i }}">{{ i }}</option>
                   
                    
                    {% endfor %} 
                 
            </select>
            <p>
                    The forecasted values of the item <spam id="changed"></spam>
                  </p>
          
       </p>
    </div>
    <div class='col-7'>

        <canvas id="future" width="200" height="150"></canvas>
        
        <!-- <h1>Fore cast of {{Predict.item_no}}</h1>
        {% for show in Predict %}
        
        {{ show.item_no}}
        {% endfor %} -->
    </div>
</div>

<!-- url asfd  pk=1 -->
{% endblock %}
{% block jscript %}
<script type="text/javascript">

    var changedText = document.getElementById('changed');
    function changeG(){
        item_no = String(this.value)
        if (item_no == 0) {
            return 0;
        }
        changedText.textContent = this.value;
        
        
        $(document).ready(function(){

            function renderChart(id, data, labels){
               // var ctx = document.getElementById('myChart');
               label='Sales Quantity of item '
               label=label.concat(item_no)
               var ctx = $('#' + id)
        var myChart = new Chart(ctx, {
           
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    backgroundColor: [
                
                      'rgba(153, 102, 255, 0.2)',
                        
                    ],
                    borderColor: [
                        
                        'rgba(153, 102, 255, 1)',
                       
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                       
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'black',
                            
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Sales Quantity',
                            fontColor: 'black',
                            fontSize: 20
                            
                          }
                        
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: 'black',
                            
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date',
                            fontColor: 'black',
                            fontSize:20
                        }
                      }],
                },
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        fontColor: 'black',
                        fontSize: 15
                    }
                },
                
                
            }
        });
        }
    
      
            var url = 'api/' 
            var url = url.concat(item_no)

            var method = 'GET'
            var data ={}
    
        
            
            $.ajax(
                {
                    url:url,
                    method: method,
                    data: data,
                    success: function(responseData){
                        console.log(responseData)
                        renderChart("future",responseData.data,responseData.labels)
                    },error: function(error){
                        $.alert("An error occured")
    
                    }
                }
    
            )
        })
    }
    document.getElementById("list").onchange = changeG;






    


    
</script>

{% endblock %}