{% extends "base.html" %}

{% block content %}

	<div class='row'>
		<div class='col -xs-12'>
			{% if messages %}
			    {% for message in messages %}
			    <p{% if message.tags == "success" %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
			    {% endfor %}
			{% endif %}
		</div>

	</div>

	<h1>Contact Us</h1>
	    <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
	      <label>Full Name</label>{{ form.full_name }}
	      <br>
	      <label>Email</label>{{ form.email }}
	      <br>
	      <label>Your Message</label>{{ form.message }}
	      <br>

	      <button type='submit' class='btn btn-default'>Send</button>
	    </form>


{% endblock %}