{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated and request.user.is_farmer  %}
	<div class='row'>
		<div class='col -xs-12'>
			{% if messages %}
			    {% for message in messages %}
			    <p{% if message.tags == "success" %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
			    {% endfor %}
			{% endif %}
		</div>

	</div>

	<h1>Add Product</h1>
	    <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
	      <label>Name</label>{{ form.title }}
	      <br>
	      <label>Description</label>{{ form.description }}
	      <br>
	      <label>Price</label>{{ form.price }}
	      <br>
	      <label>Price Unit</label>{{ form.price_unit }}
	      <br>
	      <label>Upload Image</label>{{ form.image }}
	      <br>
	      <label>Available</label>{{ form.availability }}
	      <br>

	      <button type='submit' class='btn btn-default'>Add</button>
	    </form>
{% else %}

{% endif %}

{% endblock %}