{% extends "base.html" %}


{% block content %}

    <div class='row'>
        <div class='col -xs-12'>
            {% if messages %}
                {% for message in messages %}
                <p{% if message.tags %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-md-6'>
                <h1>{{ object.title }}</h1>
                <strong> Last Updated: </strong>{{ object.timestamp|timesince }} ago  <br> <br>          
                <strong> Description:</strong>{{ object.description|linebreaks }}<br> 
                <strong> Price: </strong>{{ object.price}} per {{ object.price_unit }}<br>
                <strong> 1 unit contains </strong>{{ object.price_unit }}<br>
                <strong>Added by:</strong> {{ object.added_by}}<br>
                <strong> Available:</strong>

                {% if object.availability == True %}
                    Yes
                {% else %}
                    No
                {% endif %}

                <br>
                {% if object.image %}
                    <img src='{{ object.image.url }}' class='img-fluid' />
                {% endif %}
                <br>
                <br>
                {% if object.added_by == request.user %}
                    <a href='{{object.get_absolute_url}}edit-product' class="btn btn-primary" role="button">Edit</a>
                    <a href='{{object.get_absolute_url}}delete-product' class="btn btn-danger" role="button">Delete</a>
                {% endif %}
                



        </div>

    </div>
    <div class='col-12 col-md-6'>
        {% include 'products/snippets/update-cart.html' with product=object cart=cart %}

    </div>


{% endblock %}
<!-- 
<p>{{ object.user_accessing }}</p>
{% if request.user == object.user_accessing %}
<a href='#' class="btn btn-primary" role="button">Edit</a>
<a href='#' class="btn btn-secondary" role="button">Delete</a>
{% endif %}
 -->